<a href="https://colab.research.google.com/github/gomescheelsy03/INST-414-0101-/blob/main/W7_in_class_exercise_CGomes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# Name: Chelsy Gomes
# Instructor: Cody Buntain
# Course: INST414 (0101)
# Date: 10/17/2025
# Assignment: In-Class Exercise Week 7

Exercise 1. Clustering Actors in the Actor-Genre Matrix

In [13]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [14]:
actor_to_genre_df = pd.read_csv("/content/imdb_movies_2000to2022.actorXgenre.csv", index_col="actor_id")

In [15]:
actor_to_genre_df=actor_to_genre_df.fillna(0)

In [16]:
actor_to_genre_df=actor_to_genre_df.apply(pd.to_numeric,errors="coerce").fillna(0)

In [17]:
actor_to_genre_df=actor_to_genre_df.reindex(sorted(actor_to_genre_df.columns), axis=1)

In [18]:
print("matrix:",actor_to_genre_df.shape)

matrix: (33609, 25)

In [19]:
k=8

In [20]:
kmeans= KMeans(n_clusters=k,n_init=10,random_state=42)

In [21]:
cluster_labels=kmeans.fit_predict(actor_to_genre_df)

In [22]:
actor_to_genre_df=pd.DataFrame({"cluster": cluster_labels},index=actor_to_genre_df.index)

In [23]:
print("\nActors per cluster:")
print(actor_to_genre_df["cluster"].value_counts().sort_index)

Actors per cluster:
<bound method Series.sort_index of cluster
1    29329
0     2556
7      870
4      261
5      249
2      193
6      135
3       16
Name: count, dtype: int64>

In [24]:
rng= np.random.default_rng(42)

In [25]:
rng = np.random.default_rng(42)

for cluster_id, subset in actor_to_genre_df.groupby("cluster"):
    size = len(subset)
    print(f"\nCluster {cluster_id} - size: {size}")

    take=min(5,size)
    sampled_actor_ids= rng.choice(subset.index.to_numpy(), size=take, replace=False)
    for a_id in sampled_actor_ids:
        print(" ",a_id)

Cluster 0 - size: 2556
  nm5444837
  nm0560962
  nm5232139
  nm0000360
  nm2092886

Cluster 1 - size: 29329
  nm10125845
  nm0859365
  nm4408716
  nm1892588
  nm3544366

Cluster 2 - size: 193
  nm0007123
  nm1399243
  nm0001303
  nm0000219
  nm0001235

Cluster 3 - size: 16
  nm0001744
  nm0000579
  nm0695177
  nm0000246
  nm0001803

Cluster 4 - size: 261
  nm0001624
  nm1018488
  nm1822659
  nm0000337
  nm0701512

Cluster 5 - size: 249
  nm1431656
  nm0005253
  nm0000518
  nm2172377
  nm0001117

Cluster 6 - size: 135
  nm0004193
  nm1546474
  nm0518739
  nm3859710
  nm0454809

Cluster 7 - size: 870
  nm0043199
  nm0289098
  nm0005476
  nm0544718
  nm3009275

Extra Practice. Finding Similar Actors based on Co-stars

In [26]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import normalize

In [27]:
actor_to_genre_df["cluster_ex1"] = cluster_labels  # cluster_labels came from Exercise 1 fit_predict()
actor_to_genre_df[["cluster_ex1"]].to_csv("exercise1_labels.csv")
print("Saved:", "exercise1_labels.csv")

Saved: exercise1_labels.csv

In [28]:
actor_to_genre_df = pd.read_csv(
    "/content/imdb_movies_2000to2022.actorXgenre.csv",
    index_col="actor_id"
)

actor_to_genre_df = actor_to_genre_df.fillna(0)
actor_to_genre_df = actor_to_genre_df.apply(pd.to_numeric, errors="coerce").fillna(0)

# Sort columns alphabetically for consistency
actor_to_genre_df = actor_to_genre_df.reindex(sorted(actor_to_genre_df.columns), axis=1)

print("matrix:", actor_to_genre_df.shape)

matrix: (33609, 25)

In [7]:
X_norm = normalize(actor_to_genre_df.to_numpy(), norm="l1", axis=1, copy=True)

# Verify normalization
row_sums = X_norm.sum(axis=1)
print("non-zero rows sum to 1.0 →", np.allclose(row_sums[row_sums > 0], 1.0))

non-zero rows sum to 1.0 → True

In [8]:
k = 8
kmeans_norm = KMeans(n_clusters=k, n_init=10, random_state=42)
cluster_labels_ex2 = kmeans_norm.fit_predict(X_norm)

# Create a new DataFrame with the normalized cluster labels
clusters_ex2_df = pd.DataFrame({"cluster_ex2": cluster_labels_ex2},
                               index=actor_to_genre_df.index)

print("\nActors per cluster (Exercise 2):")
print(clusters_ex2_df["cluster_ex2"].value_counts().sort_index())

Actors per cluster (Exercise 2):
cluster_ex2
0     6534
1    10134
2     4561
3     4238
4     2085
5     4018
6     1671
7      368
Name: count, dtype: int64

In [9]:
rng = np.random.default_rng(42)

for cluster_id, subset in clusters_ex2_df.groupby("cluster_ex2"):
    size = len(subset)
    print(f"\nCluster {cluster_id} – size: {size}")
    take = min(5, size)
    sampled_actor_ids = rng.choice(subset.index.to_numpy(), size=take, replace=False)
    for a_id in sampled_actor_ids:
        print(" ", a_id)

Cluster 0 – size: 6534
  nm6086965
  nm11818240
  nm0724189
  nm0189943
  nm2970193

Cluster 1 – size: 10134
  nm4924757
  nm0000566
  nm1086501
  nm0370796
  nm3150125

Cluster 2 – size: 4561
  nm2800955
  nm7871638
  nm12531280
  nm5346772
  nm0515123

Cluster 3 – size: 4238
  nm4687147
  nm7371997
  nm12793998
  nm7060111
  nm7546472

Cluster 4 – size: 2085
  nm1483326
  nm0315962
  nm4747149
  nm2706512
  nm1701859

Cluster 5 – size: 4018
  nm10372239
  nm2938039
  nm3626571
  nm5345347
  nm2179940

Cluster 6 – size: 1671
  nm1413630
  nm2347935
  nm1323275
  nm7118293
  nm4105672

Cluster 7 – size: 368
  nm3319357
  nm0219266
  nm0072072
  nm1092350
  nm10031146

In [29]:
# Load Exercise 1 labels
ex1_labels_df = pd.read_csv("exercise1_labels.csv").set_index("actor_id")

# Align both label sets to the same actor order
ex1_aligned = ex1_labels_df.loc[clusters_ex2_df.index, "cluster_ex1"].to_numpy()
ex2_aligned = clusters_ex2_df["cluster_ex2"].to_numpy()

In [30]:
def jaccard_matrix(labels_a, labels_b):
    a_vals = np.sort(np.unique(labels_a))
    b_vals = np.sort(np.unique(labels_b))
    J = np.zeros((len(a_vals), len(b_vals)))
    for i, a in enumerate(a_vals):
        A = set(np.where(labels_a == a)[0])
        for j, b in enumerate(b_vals):
            B = set(np.where(labels_b == b)[0])
            inter = len(A & B)
            union = len(A | B) if len(A | B) > 0 else 1
            J[i, j] = inter / union
    return a_vals, b_vals, J

a_ids, b_ids, J = jaccard_matrix(ex1_aligned, ex2_aligned)
J_df = pd.DataFrame(J,
                    index=[f"Ex1_{i}" for i in a_ids],
                    columns=[f"Ex2_{j}" for j in b_ids])
J_df

,Ex2_0,Ex2_1,Ex2_2,Ex2_3,Ex2_4,Ex2_5,Ex2_6,Ex2_7
Ex1_0,0.051232,0.159328,0.037917,0.011915,0.001943,0.003052,0.000000,0.000000
Ex1_1,0.192809,0.220858,0.139849,0.140687,0.070761,0.136223,0.056326,0.012547
Ex1_2,0.004780,0.005256,0.022366,0.000678,0.000000,0.000000,0.000000,0.000000
Ex1_3,0.000153,0.000493,0.002190,0.000000,0.000000,0.000000,0.000000,0.000000
Ex1_4,0.016607,0.014641,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Ex1_5,0.000885,0.023662,0.000624,0.000000,0.000000,0.000000,0.000000,0.000000
Ex1_6,0.013988,0.000682,0.001493,0.002522,0.000000,0.000000,0.010067,0.000000
Ex1_7,0.007073,0.077872,0.003511,0.000784,0.000000,0.000000,0.000000,0.000000

In [31]:
best_matches = {}
for i, a in enumerate(a_ids):
    j_best = int(np.argmax(J[i]))
    best_matches[f"Ex1_{a}"] = f"Ex2_{b_ids[j_best]}  (J={J[i, j_best]:.3f})"

best_matches

{'Ex1_0': 'Ex2_1  (J=0.159)',
 'Ex1_1': 'Ex2_1  (J=0.221)',
 'Ex1_2': 'Ex2_2  (J=0.022)',
 'Ex1_3': 'Ex2_2  (J=0.002)',
 'Ex1_4': 'Ex2_0  (J=0.017)',
 'Ex1_5': 'Ex2_1  (J=0.024)',
 'Ex1_6': 'Ex2_0  (J=0.014)',
 'Ex1_7': 'Ex2_1  (J=0.078)'}